[Unit]
Description=Varba7 Backend Weather Service
StartLimitIntervalSec=30
StartLimitBurst=5

[Service]
User=mystoev
ExecStart=npm --cwd /home/mystoev/server/ run start
Restart=always

[Install]
WantedBy=multi-user.target